*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: #080808;
    color: #fff;
}
p{
    font-size: large;
}
#VA{
    padding: 80px 0;
    color: #ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 500px;
    border-radius: 15px;
    margin-left: 200px;
    transition: transform 0.5s;
    border: 1.5px solid #ff004f;
}
.about-col-2{
    flex-basis: 60%;
}
.sub-title{
    color:#ff004f;
}
img:hover{
    transform: scale(1.1);
}
button{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
    background-color: #080808;
    transition: 0.2s;
}
button:hover{
    background:#ff004f;
}
